.style{
    background-color: rgb(25, 103, 143);
}
.test{
    color: #a1c0dd;
}
.imgg{
    width: 260px;
    height: 220px;
} 
.brdr{
    border-top-left-radius:40px ;
    border-top-right-radius: 40px;
}
.btn{
    background-color: rgb(167, 207, 227);
    border: none;
    padding: 10px 30px;
    border-radius: 20px;
    color: rgb(15, 93, 129);
    font-weight: bold;
    
}
.button{
    background-color:rgb(167, 207, 227) ;
    color: rgb(15, 93, 129);
    border-radius: 20px;
}
.buttonTwo{
    background-color:rgb(15, 93, 129);
    color: #fff ;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
}

.immg{
    text-align: center;
}
.bg{
    background-color: #a1c0dd;
}
.buttonTwo:hover{
    background-color: rgba(15, 93, 129,0.8);
}